@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.dashboard-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
}
.dashboard-container p span {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: rgb(0, 119, 114);
  border-radius: 6px;
  color: white;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.register-button {
  display: flex;
  border-radius: 10px;
  height: 70px;
  box-shadow: 5px 8px 10px #888888;
}

.register-button div {
  background-color: #f9a02b;
  border-radius: 10px 0 0 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
}

.register-button:hover div {
  background-color: #2d6a4f;
  border-radius: 10px 0 0 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
}

.register-button p {
  background-color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #2d6a4f;
}

.register-button:hover p {
  background-color: rgba(255, 255, 255, 0.568);
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #f9a02b;
}

h1.dashboard-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 25px;
  color: rgb(31, 29, 29);
}
