@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.custom-dialog .custom-dialog-title h4 {
  color: #2d6a4f;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
}
