.profile-image-container {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}

.profile-image-container > .input-image-container {
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.profile-image-container > .input-image-container > label {
  width: 100%;
  height: 100%;
  color: aliceblue;
  background-image: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png');
}
