.wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  background-color: #0c1821;
  content: 'Reference ';
}
.loader-circle {
  width: 80px;
  height: 80px;
  border: 15px solid;
  border-color: #e6af2e #1b998b;
  border-radius: 50%;
  animation: spin 1.5s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
